
.operator-area body {
    font-family: 'Open Sans', sans-serif;
}

.operator-area {
}

.label-success {
    font-weight: normal;
    font-size: 13px;
}

.operator-display {
    margin-left: 20px;
    float: left;
    min-width: 600px;
}

.operator-area text {
    font-size: 12px;
    fill: #fff;
}

.operator-area h2 {
    font-size: 1.3em;
}

.button-list {
    margin-top: 10px;
}

.menu-button {
    margin-right: 10px;
}

.button {
    background-color: #4CAF50  !important; /* Green */
    border: none  !important;
    color: white  !important;
    text-align: center;
    text-decoration: none  !important;
    font-size: 16px  !important;
    width: 150px  !important;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled,
.button[disabled] {
    background-color: #4C6F50 !important; /* Green */
    border: none;
    color: #808080 !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 16px !important;
    width: 150px !important;
    padding: 2px;
    border-radius: 5px;
    cursor: default;
}

.conversation {
    width: 600px;
    float: left;
}

.conversation-parent {
    min-height: 0;
    padding: 5px;
}

.conversation-container {
    background-color: #fff;
    width: 650px;
    height: 400px;
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.text-response {
    width: 500px !important;;
    padding: 5px;
    font-size: 1.2em;
}

.text-response:disabled,
.text-response[disabled] {
    width: 500px !important;
    padding: 5px;
    font-size: 1.2em;
    color: #eee !important;
}


.learnings {
    position: absolute;
    display: none;
    top: 250px;
    background-color: #fff;
    margin-left: calc(100% - 440px);
    z-index: 999;
    width: 350px;
    padding: 20px;
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
}

.previous-answer {
    position: absolute;
    display: none;
    top: 400px;
    background-color: #fff;
    margin-left: calc(100% - 450px);
    z-index: 999;
    width: 350px;
    padding: 20px;
    float: left;
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
}

.learn-tick {
    float: right;
    width: 32px;
    margin-right: -35px;
    margin-top: -35px;
}

.learn-label {
    float: left;
    font-weight: 900;
    width: 100px;
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 4px;
}

.answer-text {
    float: left;
    max-width: 300px;
    margin-bottom: 10px;
}

.question-text {
    float: left;
    max-width: 300px;
    margin-bottom: 20px;
}

.learn-button {
    margin-top: 10px;
    margin-right: 10px;
}

.learn-buttons {
    float: left;
}

.previous-answer-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.previous-answer-answer {
    font-size: 0.9em;
    margin-bottom: 30px;
}

.previous-answer-buttons {
    text-align: center;
}

.chat-user-box {
    float: left;
    padding: 10px;
    margin-left: 15px;
    margin-right: 100px;
    padding-left: 30px;
    text-align: left;
    max-width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #eee;
    cursor: pointer;
}

.chat-user-box-dark {
    float: left;
    padding: 10px;
    margin-left: 15px;
    margin-right: 100px;
    padding-left: 30px;
    text-align: left;
    max-width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #888;
}

.chat-user-image {
    float: left;
    width: 48px;
    margin-left: -30px;
    cursor: pointer;
}

.user-message-text {
    float: left;
    margin-left: 10px;
    max-width: 300px;
    cursor: pointer;
}

.chat-simsage-box {
    float: left;
    padding: 10px;
    margin-left: 15px;
    margin-right: 100px;
    padding-left: 30px;
    text-align: left;
    max-width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #dde;
    cursor: pointer;
}

.chat-simsage-box-dark {
    float: left;
    padding: 10px;
    margin-left: 15px;
    margin-right: 100px;
    padding-left: 30px;
    text-align: left;
    max-width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #aac;
}

.chat-simsage-image {
    float: left;
    width: 48px;
    margin-left: -30px;
    cursor: pointer;
}

.simsage-message-text {
    float: left;
    margin-left: 10px;
    max-width: 300px;
    cursor: pointer;
}

/* is typing */

.busy-image {
    width: 60px;
}

