
/* stop chrome from outlining focus items */
*:focus {
    outline: none;
}

.search-table {
    border-collapse: collapse;
    border-style: hidden;
    min-width: 1024px;
}

.search-table .search-row {
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
}

/* search text */

.search-table .left-bubble {
    background-color: #ffffff;
    border-left: 0 solid;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    height: 48px;
    width: 40px;
}

.search-table .search-text-box {
    background-color: #ffffff;
    border: 0 solid;
}

.search-table .search-text {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    border: 0 solid;
    height: 48px;
    width: 480px;
    color: #454545;
}

.search-table .search-text:disabled {
    color: #878787;
}

/* search button (magnification glass) */

.search-table .search-button-box {
    border: 0 solid;
    background-color: #ffffff;
    cursor: pointer;
    width: 24px;
    height: 48px;
}

.search-table .search-button-span-box {
    margin-right: 8px;
}

/* the magnification glass image size */
.search-table .search-button-image {
    width: 20px;
    height: 20px;
}

/* close image size */
.search-table .clear-button-image {
    width: 20px;
    height: 20px;
}

/* grey divider line between magnification glass and search options */

.search-table .search-grey-divider {
    border: 0 solid;
    background-color: #ffffff;
    width: 4px;
    height: 48px;
    padding: 4px;
}

.vl {
  border-left: 1px solid #878787;
  height: 40px;
}

/* search options button */

.search-table .search-options-button {
    cursor: pointer;
    background-color: #ffffff;
    height: 48px;
    width: 160px;
    border: 0 solid;
}

.search-table .search-options-text {
    float: left;
    margin-left: 12px;
    margin-top: 6px;
    color: #454545;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
}

.search-table .search-options-chevron-box {
    float: left;
    margin-top: 4px;
    width: 24px;
    height: 24px;
}

.search-table .search-options-chevron {
    width: 24px;
    height: 24px;
}

.search-table .right-bubble {
    background-color: #ffffff;
    border: 0 solid;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    height: 48px;
    width: 40px;
}

/* blank space between control and contact us */

.search-table .blank-space-box {
    background-color: transparent;
    width: 20px;
    height: 48px;
    border: 0 solid;
}

.search-table .blank-space {
}

/* chat with us selected online active */

.search-table .left-bubble-small {
    background-color: #ffffff;
    border: 0 solid;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    height: 48px;
    width: 40px;
}

.search-table .right-bubble-small {
    background-color: #ffffff;
    border: 0 solid;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    height: 48px;
    width: 40px;
}

.search-table .chat-with-us-online {
    height: 48px;
    width: 70px;
    background-color: #ffffff;
    border: 0 solid;
    cursor: pointer;
}

.search-table .chat-with-us-text-box-online {
    float: left;
    margin-left: 6px;
    margin-top: 6px;
    color: #454545;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
}

.search-table .chat-with-us-image-box {
    margin-top: 2px;
    float: left;
}

.search-table .chat-with-us-image {
    width: 24px;
    height: 24px;
}

