
.filter-box-view {
    position: absolute;
    z-index: 999;
    width: 400px !important;
    height: 550px !important;
    cursor: default;
}

.filter-box {
    border: 0 solid;
}

.filter-box .speech-bubble {
    position:relative;
    padding: 2% !important;
    margin-top: 22px !important;
    background-color: #ffffff;
    border: 0 solid;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #878787;
}
.filter-box .speech-bubble p {
    font-size: 1.25em;
}
.filter-box .speech-bubble:before,
.filter-box .speech-bubble:after {
    content: "\0020";
    display:block;
    position:absolute;
    top: -20px;
    left: 60%;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 21px transparent;
    border-top: 0;
    border-bottom-color: #ffffff;
}
.filter-box .speech-bubble:before {
    top: -21px;
    z-index: 1;
    border-bottom-color:rgba(0,0,0,0.5);
}

.filter-box .filter-table {
    width: 100%;
}

.filter-box .tr-1 {
    float: left;
    margin-top: 10px;
    width: 100%;
    color: #454545;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    cursor: default;
}

.filter-box .col-1 {
    float: left;
    width: 80% !important;
    display: inline-block;
}

.filter-box .col-2 {
    float: left;
    width: 18%;
    display: inline-block;
}

.filter-box .search-by-text {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #878787;
    font-size: 1.0em;
}

.filter-box .close-box {
    cursor: pointer;
}

.filter-box .close-text {
    float: right;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #878787;
    font-size: 0.8em;
    margin-top: 4px;
    margin-right: 8px;
}

.filter-box .close-image {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    width: 16px !important;
    height: 16px !important;
}

.filter-box .title {
    cursor: default;
}

.filter-box .clear-text {
    cursor: pointer;
    float: left;
    color: #1e74ff;
    margin-top: 26px;
}

.filter-box .category-text {
    color: #454545;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

.filter-box .category-item {
    margin-top: 4px;
    width: 90%;
}

.filter-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
}

.filter-box .category-select {
    width: 90%;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    color: #454545;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
	border: 1px solid #878787;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: url(../images/chevron-down.svg) no-repeat scroll 98% 0;
}

.filter-box .category-input {
    color: #454545;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    border: 1px solid #878787;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
    width: 90%;
    margin-bottom: 20px;
}

.filter-box .bar-bottom {
    height: 48px;
    left: calc(50% - 200px);  /* aligns with rhs of contact us */
}

.filter-box .done-button {
    background-color: #878787;
    cursor: pointer;
    float: left;
    width: 90px;
    height: 48px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #878787;
    border-bottom: 1px solid #878787;
}

.filter-box .done-text {
    float: left;
    color: #ffffff;
    margin-left: 26px;
    margin-top: 14px;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
}

.filter-box .clear-text-box {
    float: left;
    width: calc(100% - 92px);
    height: 48px;
    display: inline-block;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    border-left: 1px solid #878787;
    border-bottom: 1px solid #878787;
}

.filter-box .clear-all-text {
    float: left;
    width: 68px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: #1e74ff;
}

