
.search-results {
    width: 100% !important;
    max-width: 1024px;
    border: 0 solid;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 22px;
}

.search-results .search-results-top-td {
    width: 100% !important;
    max-width: 1024px;
}

/* main display */

.search-results .search-result-table {
    border-collapse: collapse;
    width: 100%;
}

/* two columns */
.search-results .search-results-td {
    vertical-align: top;
    max-width: 1024px;
    min-width: 500px;
}

.search-results .category-items-td {
    vertical-align: top;
    padding: 10px;
    width: 20%;
}

.search-results .search-result-images {
    border: 0 solid;
    background-color: #fafafa;
    width: 100% !important;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.search-results .search-result {
    border: 0 solid;
    background-color: #fafafa;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.search-results .url-text {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #1e74ff;
    font-size: 16px;
    margin-bottom: 4px;
}

.search-results a:link {
    text-decoration: none;
}

.search-results .title-text {
    color: #646464;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
}

.search-results .result-text {
    color: black;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 4px;
}

.search-result .search-text-width {
    float: left;
    width: 80% !important;
}

.search-result .search-image-width {
    float: right;
    width: 20% !important;
}

.search-result .tr-1 {
    width: 100%;
}

.search-results .result-image {
    width: 100px !important;
    height: 100px !important;
    cursor: pointer;
}

.search-results .hl1 {
    background-color: #f4e385;
    cursor: default;
}

.search-results .hl2 {
    background-color: #e4e4e4;
    cursor: default;
}

.search-results .navigate-td {
    height: 40px;
}

.search-results .navigate-left {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.search-results .no-navigate-left {
    float: left;
    margin-right: 5px;
    cursor: default;
}

.search-results .navigate-left-image {
    width: 24px !important;
    height: 24px !important;
}

.search-results .navigate-right {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.search-results .no-navigate-right {
    float: left;
    margin-right: 5px;
    cursor: default;
}

.search-results .navigate-right-image {
    width: 24px !important;
    height: 24px !important;
}

.search-results .navigate-text {
    margin-left: 5px;
    margin-top: 6px;
    float: left;
    color: black;
    font-style: italic;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    cursor: default;
}

/** category items at the RHS of the search results **/

.search-results .category-item {
    padding: 10px;
    border: 0 solid;
    background-color: #fafafa;
    border-radius: 10px;
    margin-bottom: 10px;
}

.search-results .category-title {
    color: black;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    cursor: default;
    font-weight: 600;
    width: 100%;
    margin-bottom: 5px;
}

.search-results .category-text {
    color: black;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration: underline;
}

/** search pagination **/

.search-results .pagination-box {
    float: left;
    border: 0 solid;
    background-color: #ffffff;
    width: 95%;
    padding: 2px;
    margin-bottom: 10px;
    clear-after: both;
}

.search-results .clear {
    clear: both;
}

/* prev and next images */
.search-results .prev-page-image {
    width: 21px !important;
    height: 21px !important;
}

.search-results .prev-page-box {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.search-results .prev-page-box-disabled {
    float: left;
    margin-right: 10px;
    cursor: default;
}

.search-results .next-page-image {
    width: 21px !important;
    height: 21px !important;
}

.search-results .next-page-box {
    float: left;
    margin-right: 4px;
    cursor: pointer;
}

.search-results .next-page-box-disabled {
    float: left;
    margin-right: 4px;
    cursor: default;
}

/* pagination text   1 result, page 1 of 1  */
.search-results .pagination-text {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    color: #646464;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    cursor: default;
}

/*  view selector, image view or text view */

.search-results .view-type-box {
    float: right;
    margin-top: 4px;
}

.search-results .view-text-box {
    float: left;
    margin-top: -2px;
    margin-right: 4px;
    cursor: pointer;
}

.search-results .view-text-box-selected {
    float: left;
    margin-top: -2px;
    margin-right: 4px;
    cursor: default;
}

.search-results .view-text {
    width: 16px;
    height: 16px;
}

.search-results .view-image-box {
    margin-top: -4px;
    float: left;
    cursor: pointer;
}

.search-results .view-image-box-selected {
    margin-top: -4px;
    float: left;
    cursor: default;
}

.search-results .view-image {
    width: 20px !important;
    height: 20px !important;
}

/* image display from render */

.search-results .image-result {
    float: left;
    padding: 10px;
    width: 200px;
    height: 420px;
    margin-bottom: 10px;
}

.search-results .image-text {
    color: #000000;
    margin-top: 4px;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 0.8em;
    cursor: default;
    width: 200px;
    max-width: 200px;
}

.search-results .end-marker-images {
    clear: both;
}

.search-results .result-image-image {
    width: 190px;
    max-width: 200px;
    max-height: 300px;
    height: 300px;
    cursor: pointer;
}

.search-results .result-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* synset items */
.search-results .synset-entry {
    background-color: #fafafa;
    padding: 5px;
    margin-bottom: 10px;
}

.search-results .synset-title {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    width: 80%;
    color: #000000;
    cursor: default;
}

.search-results .synset-selector {
    width: 150px;
}